﻿@page
@model exit_website.Pages.Users.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>User Details</h1>

<div>
    <h4>User</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ApplicationUser.UserName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ApplicationUser.UserName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ApplicationUser.UserType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ApplicationUser.UserType)
        </dd>
    </dl>

    <form method="post">
        <input type="submit" value="Make Admin" name="Admin" class="btn btn-primary" />
        <input type="submit" value="Make Dev" name="Dev" class="btn btn-primary" />
        <input type="submit" value="Make ReadOnly" name="ReadOnly" class="btn btn-primary" />
    </form>
</div>
<div>
    <a asp-page="./Index">Back to List</a>
</div>
