﻿@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@{
    var user = await UserManager.GetUserAsync(User);
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ExIT</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-customtheme.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">
                    <img src="~/img/exitlogo.jpg" />
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial" />
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Index">Home</a>
                        </li>
                        @if (SignInManager.IsSignedIn(User))
                        {
                            if (user.UserType == ApplicationUser.ApplicationUserType.Dev)
                            {
                                //Let's only show our assigned tickets in the header for now.
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-page="/Tickets/Assigned">My Tickets</a>
                                </li>
                            }

                            if (user.UserType == ApplicationUser.ApplicationUserType.Admin)
                            {
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Admin
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <a class="dropdown-item" asp-area="" asp-page="/Tickets/Index" asp-route-Open="1">Open Tickets</a>
                                        <a class="dropdown-item" asp-area="" asp-page="/Tickets/Index" asp-route-Open="0">Closed Tickets</a>
                                        <a class="dropdown-item" asp-area="" asp-page="/Tickets/Index"  asp-route-Open="1"  asp-route-assignedID="NULL">Unassigned Tickets</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" asp-area="" asp-page="/Users/Index">Manage User Access</a>
                                    </div>
                                </li>
                            }

                            //Readonly users can't do anything at the moment
                            if (user.UserType != ApplicationUser.ApplicationUserType.ReadOnly)
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-page="/Tickets/Create">New Ticket</a>
                                </li>
                            }
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - ExIT Website
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>