﻿@page
@model exit_website.Pages.Tickets.AssignedModel

@{
    ViewData["Title"] = "My Assigned Tickets";
}

<h1>My Open Tickets</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Ticket[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ticket[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ticket[0].Priority)
            </th>
            <th>
                Hours Logged
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ticket[0].Created)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Ticket)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Priority)
                </td>
                <td>
                    @(Model.HoursLogged(item.TicketUpdates).ToString("n2") +"h")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Created)
                </td>
                <td>
                    <a asp-page="./Details" asp-route-id="@item.ID">View</a>
                </td>
            </tr>
        }
    </tbody>
</table>
