﻿@page
@model exit_website.Pages.Tickets.CreateModel
@using exit_website.Data

@{
    ViewData["Title"] = "Create New Ticket";
}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4>Create New Ticket</h4>

                <form method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Ticket.Title" class="control-label"></label>
                        <input asp-for="Ticket.Title" class="form-control" />
                        <span asp-validation-for="Ticket.Title" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Ticket.Description" class="control-label"></label>
                        @Html.TextAreaFor(m => m.Ticket.Description, new { @class = "form-control", @style="min-height:150px" })
                        <span asp-validation-for="Ticket.Description" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Ticket.Priority" class="control-label"></label>
                        <select class="form-control" asp-for="Ticket.Priority" asp-items="Html.GetEnumSelectList<Ticket.TicketPriority>()">
                        </select>
                        <span asp-validation-for="Ticket.Priority" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Ticket.AssignedTo" class="control-label"></label>
                        <select class="form-control" asp-for="AssignedId" asp-items='(SelectList)ViewData["users"]'>
                            <option value="">Unassigned</option>
                        </select>
                        <span asp-validation-for="Ticket.AssignedTo" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-primary" /> <a class="btn btn-light" asp-page="/Index">Cancel</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
