﻿@page
@model exit_website.Pages.Tickets.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Ticket</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ticket.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ticket.Title)
        </dd>
        <dt class="col-12">
            @Html.DisplayNameFor(model => model.Ticket.Closed)
        </dt>
        <dd class="col-12">
            @if (Model.Ticket.Closed == DateTime.MaxValue)
            {
                <span>&nbsp;</span>
            }
            else
            {
                @Html.DisplayFor(model => model.Ticket.Closed)
            }
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ticket.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ticket.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ticket.Priority)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ticket.Priority)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ticket.Created)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ticket.Created)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Ticket.ID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
