﻿@page
@model exit_website.Pages.Tickets.DetailsModel

@{
    ViewData["Title"] = "Details";
}


<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4>
                    Ticket @Html.DisplayFor(model => model.Ticket.ID) View Only
                    @if (Model.CanEdit)
                    {
                        <a asp-page="./Edit" asp-route-id="@Model.Ticket.ID">Edit Ticket Fields</a>
                    }

                </h4>

                <dl class="row">
                    <dt class="col-12">
                        @Html.DisplayNameFor(model => model.Ticket.Title)
                    </dt>
                    <dd class="col-12">
                        @Html.DisplayFor(model => model.Ticket.Title)
                    </dd>
                    <dt class="col-12">
                        @Html.DisplayNameFor(model => model.Ticket.Closed)
                    </dt>
                    <dd class="col-12">
                        @if (Model.Ticket.Closed == DateTime.MaxValue)
                        {
                            <span>Ticket Still Open</span>
                        }
                        else
                        {
                            @Html.DisplayFor(model => model.Ticket.Closed)
                        }
                    </dd>
                    <dt class="col-12">
                        @Html.DisplayNameFor(model => model.Ticket.Description)
                    </dt>
                    <dd class="col-12">
                        @Html.DisplayFor(model => model.Ticket.Description)
                    </dd>
                    <dt class="col-12">
                        @Html.DisplayNameFor(model => model.Ticket.Priority)
                    </dt>
                    <dd class="col-12">
                        @Html.DisplayFor(model => model.Ticket.Priority)
                    </dd>
                    <dt class="col-12">
                        @Html.DisplayNameFor(model => model.Ticket.Created)
                    </dt>
                    <dd class="col-12">
                        @Html.DisplayFor(model => model.Ticket.Created)
                    </dd>
                    <dt class="col-12">
                        @Html.DisplayNameFor(model => model.Ticket.AssignedTo)
                    </dt>
                    <dd class="col-12">
                        @Html.DisplayFor(model => model.Ticket.AssignedTo.UserName)
                    </dd>
                    <dt class="col-12">
                        @Html.DisplayNameFor(model => model.Ticket.Reporter)
                    </dt>
                    <dd class="col-12">
                        @Html.DisplayFor(model => model.Ticket.Reporter.UserName)
                    </dd>
                </dl>

                <div>
                    <a class="btn btn-primary" asp-page="./Index">Back to Ticket List</a>
                </div>

                @if (Model.CanEdit)
                {
                    <!-- Note: In general Br tags are bad practice.  Use CSS and bootstrap to define spacing. -->
                    <br />
                    <div class="card bg-light" style="padding:0px 25px;">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-12">
                                    <form method="post">
                                        <input type="hidden" asp-for="Ticket.ID" />
                                        <h4>Log Action</h4>
                                        <br />
                                        @Html.TextAreaFor(m => m.TicketUpdate.Comment, new { @class = "form-control", @style = "min-height:150px" })
                                        <br />
                                        <label class="control-label">Hours worked: </label>
                                        <input asp-for="TicketUpdate.Time" class="form-control" style="width:auto;" value="0.0" />
                                        <span asp-validation-for="TicketUpdate.Time" class="text-danger"></span>
                                        <br />
                                        <div><input type="checkbox" asp-for="ShouldCloseTicket" /> Close Ticket After Logging Action</div><br />
                                        <input type="submit" class="btn btn-primary" value="Log Work" />
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                }

                <h4>Previous Actions</h4>

                @foreach (var update in Model.TicketUpdates)
                {
                    <hr/>
                    <div style="padding:0px 40px;">
                        <div>
                            <strong>@update.User.UserName.ToLower()</strong> logged work - @update.TimeAdded
                        </div>
                        <div>
                            <small>Time Spent: @(update.Time.ToString("n2") + "h")</small>
                        </div>
                        <div>
                            @update.Comment
                        </div>
                    </div>
                }

            </div>
        </div>
    </div>
</div>


