﻿@page
@model exit_website.Pages.Tickets.EditModel

@{
    ViewData["Title"] = "Edit";
}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4>Editing Ticket @Model.Ticket.ID</h4>

                <form method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Ticket.ID" />
                    <input type="hidden" asp-for="Ticket.Closed" />
                    <input type="hidden" asp-for="Ticket.Created" />
                    <div class="form-group">
                        <label asp-for="Ticket.Title" class="control-label"></label>
                        <input asp-for="Ticket.Title" class="form-control" />
                        <span asp-validation-for="Ticket.Title" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Ticket Status</label>
                        @if (Model.Ticket.Closed == DateTime.MaxValue)
                        {
                            <div>&nbsp; Open <input type="submit" value="Close" name="Close" class="btn btn-primary" /></div>
                        }
                        else
                        {
                            <div>&nbsp; Closed (@Html.DisplayFor(model => model.Ticket.Closed)) <input type="submit" value="Reopen" name="Reopen" class="btn btn-primary" /></div>
                        }
                    </div>
                    <div class="form-group">
                        <label asp-for="Ticket.Description" class="control-label"></label>
                        @Html.TextAreaFor(m => m.Ticket.Description, new { @class = "form-control", @style = "min-height:150px" })
                        <span asp-validation-for="Ticket.Description" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Ticket.Priority" class="control-label"></label>
                        <select class="form-control" asp-for="Ticket.Priority" asp-items="Html.GetEnumSelectList<Ticket.TicketPriority>()">
                        </select>
                        <span asp-validation-for="Ticket.Priority" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Ticket.AssignedTo" class="control-label"></label>
                        <select class="form-control" asp-for="AssignedId" asp-items='(SelectList)ViewData["users"]'>
                            <option value="">Unassigned</option>
                        </select>
                        <span asp-validation-for="Ticket.AssignedTo" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Ticket.Reporter" class="control-label"></label>
                        <div>&nbsp; @Html.DisplayFor(model => model.Ticket.Reporter.UserName)</div>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Save" class="btn btn-primary" /> 
                        
                        <a class="btn btn-light" asp-page="./Details" asp-route-id="@Model.Ticket.ID">Cancel</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a> | <a asp-page="./Delete" asp-route-id="@Model.Ticket.ID">Delete Ticket</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
