﻿@page
@model exit_website.Pages.Tickets.IndexModel

@{
    ViewData["Title"] = "Tickets";
}

<h1>Tickets</h1>

<h4>Filter By:</h4>
<div class="row">
    <form class="form-inline">
        <div class="col-12 col-md-3">
            <input asp-for="SearchFilter" class="form-control" placeholder="Search" style="width:100%"/>
        </div>
        <div class="col-12 col-md-3">
            <select class="form-control" asp-for="Open" style="width:100%">
                <option value="1">Open</option>
                <option value="0">Closed</option>
                <option value="-1">All</option>
            </select>
        </div>
        <div class="col-12 col-md-3">
            <select class="form-control" asp-for="AssignedId" asp-items='(SelectList)ViewData["users"]' style="width:100%">
                <option value="">All Users</option>
                <option value="NULL">Unassigned</option>
            </select>
        </div>
        <div class="col-12 col-md-3">
            <input type="submit" value="Search" class="btn btn-primary" />
        </div>
    </form>
</div>

<br/>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Ticket[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ticket[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ticket[0].Priority)
            </th>
            <th>
                Hours Logged
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ticket[0].Created)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ticket[0].Closed)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Ticket)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Priority)
                </td>
                <td>
                    @(Model.HoursLogged(item).ToString("n2") +"h")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Created)
                </td>
                <td>
                    @if (item.Closed < DateTime.MaxValue)
                    {
                        @Html.DisplayFor(modelItem => item.Closed)
                    }
                </td>
                <td>
                    <a asp-page="./Details" asp-route-id="@item.ID">View</a>
                </td>
            </tr>
        }
    </tbody>
</table>
